<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
    </head>

    <body>
        <form action="/create-student" method="GET">
            <p>
                Name : <input type="text" name="name">
            </p>
            <p>
                Class : <input type="text" name="class">
            </p>
            <p>
                Marks : <input type="text" name="marks">
            </p>
            <p><input type="submit" value="Save"></p>
        </form>
    </body>

</html>
